# Dependencies
node_modules

# Build
dist

# Env (keep .env.example)
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo

# Coverage
coverage
